.center-title {
font-size:30px;
}

.center-title.small {
font-size:13px;
}

.orbit-center {
position: relative;
width: 90px;
height: 90px;
margin: 150px auto;
text-align:center;
line-height:90px;
padding:0px;
}

.moon {
border-radius: 50%;
position: absolute;
width: 43px;
height: 43px;
margin:0px;
padding:0px;
font-size:13px;
line-height:43px;
border:1px solid #ccc;
font-size:0px;
transition:.3s background, 0s color;
z-index:1;
}

.moon.active {
background:#2ecc71;
color:#fff;
font-size:13px;
z-index:2;
}
